/* styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

 

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    padding: 0 50px;
    height: 80px;
  }
  
  nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
  }
  
  nav .right a {
    color: var(--text-color);
    margin: 0 10px;
  }
  
  nav .right a:last-child {
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
  }
  
  nav .right a span {
    margin-left: 5px;
  }
  
  /* SECTION 1: Hero */
  .hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
  }
  
  .hero-section .text {
    flex: 5;
  }
  
  .hero-section .text h2 {
    font-size: 45px;
  }
  
  .hero-section .text .links {
    margin-top: 25px;
  }
  
  .hero-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: .1s;
  }
  
  .hero-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
  }
  
  .hero-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
  }
  
  .hero-section .headshot img {
    width: 350px;
    border-radius: 50%;
    /*border-color:rgba(8, 239, 43, 0.867);
    */border: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5),0px 0px 4px rgba(0, 0, 0, 0.5),0px 0px 8px rgba(0, 0, 0, 0.5),0px 0px 12px rgba(0, 0, 0, 0.5),0px 0px 16px rgba(0, 0, 0, 0.5);
    transform: skew(10deg);
    -webkit-transform: skew(10deg);
    -moz-transform: skew(10deg);
    -ms-transform: skew(10deg);
    -o-transform: skew(10deg);
    animation:rotate 1s linear infinite;
    -webkit-animation:rotate 10s linear infinite;
}
  @keyframes rotate {
    0%{transform:rotateY(180deg)  ;
    -webkit-transform:rotateY(180deg)  ;
    -moz-transform:rotateY(180deg)  ;
    -ms-transform:rotateY(180deg)  ;
    -o-transform:rotateY(180deg)  ;
    }
    55%{ transform:rotateY(0deg)  ; -webkit-transform:rotateY(0deg)  ; -moz-transform:rotateY(0deg)  ; -ms-transform:rotateY(0deg)  ; -o-transform:rotateY(0deg)  ;
}
100%{ transform:rotateY(180deg)  ; -webkit-transform:rotateY(180deg)  ; -moz-transform:rotateY(180deg)  ; -ms-transform:rotateY(180deg)  ; -o-transform:rotateY(180deg)  ;
}
  }

  @media (max-width: 850px) {
    /* SECTION 1: Hero */
    .hero-section .text h2 {
      font-size: 35px;
    }
  }
  
  @media (max-width: 740px) {
    /* SECTION 1: Hero */
    .hero-section {
      flex-direction: column-reverse;
    }
  
    .hero-section .headshot img {
      width: 300px;
    }
}
@media (max-width: 600px) {
    /* NAVBAR */
    nav {
      padding: 0 20px;
    }
  
    nav .right a {
      font-size: 22px;
    }
  
    nav .right a:last-child {
      color: var(--text-color);
      background-color: transparent;
      padding: 0;
    }
  
    nav .right a span {
      display: none;
    }
  
    /* SECTION 1: Hero */
    .hero-section {
      padding: 0 20px;
    }
  
    .hero-section .text h2 {
      font-size: 30px;
    }
  
}